@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

// Basic css
:root {
    // Color
    --primary: #fe2c55;
    --text-color: #fff;
    --button-outline-color: #b6f1e4;
    --background-color-web: #0c0c0c;
    --background-color-header: rgba(90, 89, 89, 0.92);
    --color-button-text: #b6f1e4;

    // Font family
    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: var(--background-color-web);
    color: var(--text-color);
    text-rendering: optimizeSpeed;
}

// Prevent default
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
